/* css for final resume */

* {
    padding: 0;
    margin: 0;
}*

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    border: 2px solid gray;
    border-radius: 3px;
    margin: 12px;
    line-height: 1.6;
}

.details{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
   
}

.call{
    display: flex;
    gap: 6px;
    align-items: center;
}

.mail{
    display: flex;
    gap: 6px;
    align-items: center;
}

.linkedin{
    display: flex;
    gap: 6px;
    align-items: center;
}

.name{
    text-align: center;
    margin-bottom: 8px;
}

.headname{
    color: blueviolet;
    margin-bottom: 12px;
    margin-top: 12px;
}

.summary{
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 12px;

}
.summaryhead{
    display: flex;
    gap: 6px;
    align-items: center;
    color: blueviolet;
    margin-bottom: 8px;
}

.about{
    text-align: justify;
}

.work{
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 12px;

}

.workhead{
    display: flex;
    gap: 6px;
    align-items: center;
    color: blueviolet;
    margin-bottom: 8px;
}

.education{
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 12px;

}

.experience{
    margin-left: 20px;

}

.info{
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 12px;

}

.personalInfoContent{
    margin-left: 20px;
}

.eduname{
    display: flex;
    gap: 6px;
    align-items: center;
    color: blueviolet;
    margin-bottom: 8px;
}

.collegeName{
    display: flex;
    justify-content: space-between;
   
}

.jrCollege{
    display: flex;
    justify-content: space-between;

}

.schoolName{
    display: flex;
    justify-content: space-between;
}

.personalInfo{
    display: flex;
    gap: 6px;
    align-items: center;
    color: blueviolet;
    margin-bottom: 8px;
}